# Vercel AI Gateway API Key (https://vercel.com/ai-gateway)
AI_GATEWAY_API_KEY = vck_2SWLan56ieQMFxMuchYdZw2u0UndvhnojPlkz08tqSmiIpz63d3axRCe

# Slack Bot (https://github.com/vercel-partner-solutions/slack-agent-template/blob/main/README.md)
# if not set, the slack integration will be disabled by default
SLACK_BOT_TOKEN
SLACK_SIGNING_SECRET
SLACK_CHANNEL_ID

# Exa API Key (https://exa.ai/)
EXA_API_KEY
